<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="navbar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <script src="navbar.js"></script>
</head>
<body>
    <nav>
        <a href="active_senior.jsp"><img src="active_senior.png" alt="logo" class="logo"></a>
        <input type="checkbox" id="check">
        <div class="menu-icon">
            <label for="check" class="button">
                <span></span>
                <span></span>
                <span></span>
            </label>
        </div>
        <ul class="topnav">
            <li style="width: 100%; height: 80px;"></li>
            <li><a href="active_senior.jsp" class="nav-item">액티브 시니어란?</a></li>
            <li><a href="active_senior.jsp" class="nav-item active">구인 & 고용</a></li>
            <li><a href="active_senior.jsp" class="nav-item">정보알리미</a></li>
            <li><a href="active_senior.jsp" class="nav-item">커뮤니티</a></li>
            <li><a href="active_senior.jsp" class="nav-item">취미공유</a></li>
            <li class="dropdown">
                <a href="javascript:void(0)" class="nav-item">드랍다운</a>
                <div class="dropdown-content">
                    <a href="#">Link 1</a>
                    <a href="#">Link 2</a>
                    <a href="#">Link 3</a>
                </div>
            </li>
            <li style="float: right;" class="login">
                <i class="far fa-user"></i><a href="active_senior.jsp" class="nav-item">로그인</a><a href="active_senior.jsp" class="nav-item">회원가입</a>
            </li>
            
        </ul>
        
        <hr>
    </nav>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</body>
</html>

