.section input[id*="slide"]{
  display: none;
}
.section .sliderwrap{
  max-width: 1200px;
  margin:0 auto;
  
}
.section .sliderlist{
  white-space: nowrap;
  font-size: 0;
  overflow: hidden;
}
.section .sliderlist > li{
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  transition: all .5s;
}
.section .sliderlist > li > a{
  display: block;
  position: relative;
}
.section .sliderlist > li> a img{
  width: 100%;
}
/*라벨의 위치를 설정해서 마우스를 올렸을때 포인터로 변하도록 함*/
.section .sliderlist label{
  position: absolute;
  z-index: 10;
  top: 50%;
  transform: translateY(-50%);
  padding: 50px;
  cursor: pointer;
}
.section .sliderlist .left{
  left: 30px;
  background: url('/web/img/left.png') center center / 100% no-repeat;
}
.section .sliderlist .right{
  right: 30px;
  background: url('/web/img/right.png') center center / 100% no-repeat;
}

/*input에 체크되면 슬라이드 효과*/
.section input[id="slide01"]:checked ~ .sliderwrap .sliderlist > li{transform: translateX(0%);}
.section input[id="slide02"]:checked ~ .sliderwrap .sliderlist > li{transform: translateX(-100%);}
.section input[id="slide03"]:checked ~ .sliderwrap .sliderlist > li{transform: translateX(-200%);}

/*페이징*/
.slide-pagelist {text-align: center; padding: 20px; }
.slide-pagelist >li {display: inline-block; vertical-align: top;margin-left: 7px; margin-right: 7px;}
.slide-pagelist > li > label{
  display: block;
  padding: 8px 30px;
  border-radius: 30px;
  background: #ccc;
  margin: 20px 10px;
  cursor: pointer;
}
.section input[id="slide01"]:checked ~.sliderwrap .slide-pagelist > li:nth-child(1) >label{background: #999;}
.section input[id="slide02"]:checked ~.sliderwrap .slide-pagelist > li:nth-child(2) >label{background: #999;}
.section input[id="slide03"]:checked ~.sliderwrap .slide-pagelist > li:nth-child(3) >label{background: #999;}