<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    
    <div class="table-container">
        <div class="table-header">
            <div class="table-author">
                <img src="russ.jpeg" alt="">
                <h3>Russ Beye</h3>
            </div>
            <div class="publish-date">
                2020-12-06
            </div>
        </div>
    
        <div class="table-body">
            <div class="table-title">
                <h1><a href="#">I Like To Make Cool Things</a></h1>
            </div>
            <div class="table-summary">
                <p>
                    I love working on fresh designs that <a href="https://www.youtube.com/watch?v=hANtM1vJvOo">breathe</a>. To that end, I need to freshen up my portfolio here because it does exactly the
                    opposite. For the next month I will be working almost exclusively on my portfolio. Sounds like a lot of fun!
                </p>
            </div>
            
            <div class="table-tags">
                <div class="explain">
                    <p >태그:&nbsp;</p>
                    <ul class="tag">
                        <li><a href="#">css</a></li>
                        <li><a href="#">web design</a></li>
                        <li><a href="#">codepen</a></li>
                        <li><a href="https://twitter.com/russbeye">twitter</a></li>
                    </ul>
                </div>
            </div>
            <div class="table-tags">
                    <div class="explain">
                    <p>키워드:&nbsp;</p>
                    <ul class="keyword">
                        <li><a href="#">css</a></li>
                        <li><a href="#">web design</a></li>
                        <li><a href="#">codepen</a></li>
                        <li><a href="https://twitter.com/russbeye">twitter</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="table-container">
        <div class="table-header">
            <div class="table-author">
                <img src="russ.jpeg" alt="">
                <h3>Russ Beye</h3>
            </div>
            <div class="publish-date">
                2020-12-06
            </div>
        </div>
    
        <div class="table-body">
            <div class="table-title">
                <h1><a href="#">I Like To Make Cool Things</a></h1>
            </div>
            <div class="table-summary">
                <p>
                    I love working on fresh designs that <a href="https://www.youtube.com/watch?v=hANtM1vJvOo">breathe</a>. To that end, I need to freshen up my portfolio here because it does exactly the
                    opposite. For the next month I will be working almost exclusively on my portfolio. Sounds like a lot of fun!
                </p>
            </div>
            
            <div class="table-tags">
                <div class="explain">
                    <p >태그:&nbsp;</p>
                    <ul class="tag">
                        <li><a href="#">css</a></li>
                        <li><a href="#">web design</a></li>
                        <li><a href="#">codepen</a></li>
                        <li><a href="https://twitter.com/russbeye">twitter</a></li>
                    </ul>
                </div>
            </div>
            <div class="table-tags">
                    <div class="explain">
                    <p>키워드:&nbsp;</p>
                    <ul class="keyword">
                        <li><a href="#">css</a></li>
                        <li><a href="#">web design</a></li>
                        <li><a href="#">codepen</a></li>
                        <li><a href="https://twitter.com/russbeye">twitter</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>