
.edu-card-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.edu-card {
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    background: #444;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat !important;
    width: 700px;
    height: 380px;
    box-shadow: 4px 8px 28px rgba(39, 44, 49, 0.1), 1px 3px 8px rgba(39, 44, 49, 0.075);
    margin: 3vh auto;
    overflow: hidden !important;
}
.edu-card:hover {
    box-shadow: 0 0 1px rgba(39, 44, 49, 0.2), 0 3px 16px rgba(39, 44, 49, 0.25);
    transform: translate3D(0, -0.5px, 0);
}
.edu-card .content-mask {
    display: inline-block;
    background: rgba(255, 255, 255, 0.9);
    width: 61%;
    height: 100%;
    padding: 0.75em 0 0.75em 2.5em;
    overflow: hidden;
    z-index: 5;
    min-width: 500px;
}
.edu-card .horizontal {
    display: inline-block;
    position: relative;
    background: linear-gradient(to top right, rgba(255, 255, 255, 0.9) 50%, transparent 0);
    height: 101%;
    width: 20%;
    overflow: hidden;
}

.content-mask .category {
    display: inline-block;
    background: #e23f7e;
    color: rgba(255, 255, 255, 0.9);
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
    min-width: 45px;
    border-radius: 5px;
    box-shadow: 0 0 1px rgba(172, 28, 56, 0.1), 0 2px 6px rgba(172, 28, 56, 0.175);
    margin: 3vh 2px 2.5vh;
    padding: 6px 8px;
    cursor: pointer;
    z-index: 9;
    background-color: #444;
}

.content-mask .category:hover {
    box-shadow: 0 0 1px rgba(10, 96, 58, 0.2), 0 3px 6px rgba(39, 44, 49, 0.25);
}

.content-mask h1 {
    background: transparent;
    color: rgba(0, 0, 0, 0.9);
    font-family: 'Nunito', 'Open Sans', sans-serif;
    font-size: 2.5em;
    font-weight: 800;
    line-height: 1.2;
    height: auto;
    border-bottom: 2px solid rgba(204, 204, 204, 0.75);
    margin-top: 0;
    margin-bottom: 0.35em;
    padding-bottom: 5px;
}
.content-mask p {
    font-size: 1.1em;
    line-height: 1.4;
    width: 100%;
    margin-top: 0.3em;
    padding-left: 2px;
    z-index: 9;
}
.post-detail {
    color: rgba(0, 0, 0, 0.55);
    margin-top: 6.5vh;
    padding-left: 2px;
    vertical-align: middle;
}
.post-detail .icon {
    position: relative;
    width: 14px;
    top: 2.25px;
    margin-right: 7px;
}
.post-detail .date {
    color: rgba(0, 0, 0, 0.65);
    font-size: 0.85em;
}