<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="style.css" />
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
            integrity="sha512-bnIvzh6FU75ZKxp0GXLH9bewza/OIw6dLVh9ICg0gogclmYGguQJWl8U30WpbsGTqbIiAwxTsbe76DErLq5EDQ=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        ></script>
        
    </head>
    <body>
        <section id="grid" class="grid">
            <a href="#" class="grid-item" data-path-hover="m 0,0 0,47.7775 c 24.580441,3.12569 55.897012,-8.199417 90,-8.199417 34.10299,0 65.41956,11.325107 90,8.199417 L 180,0 z">
                <figure>
                    <img src="https://images.unsplash.com/photo-1621508958904-2e04d492302e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80" />
                    <svg viewBox="0 0 180 320" preserveAspectRatio="none">
                        <path d="m 0,0 0,171.14385 c 24.580441,15.47138 55.897012,24.75772 90,24.75772 34.10299,0 65.41956,-9.28634 90,-24.75772 L 180,0 0,0 z" />
                    </svg>
                    <figcaption>
                        <h2>Crystalline</h2>
                        <p>도쿄도에는 60대 이상의 시니어들이 한 달에 한 번 모여 함께 요리를 하고, 만든 음식을 먹으면서 맛에 대한 감상을 주고받는 모임이 있다.</p>
                        <button>View</button>
                    </figcaption>
                </figure>
            </a>
            <a href="#" class="grid-item" data-path-hover="m 0,0 0,47.7775 c 24.580441,3.12569 55.897012,-8.199417 90,-8.199417 34.10299,0 65.41956,11.325107 90,8.199417 L 180,0 z">
                <figure>
                    <img src="https://images.unsplash.com/photo-1621508958904-2e04d492302e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80" />
                    <svg viewBox="0 0 180 320" preserveAspectRatio="none">
                        <path d="m 0,0 0,171.14385 c 24.580441,15.47138 55.897012,24.75772 90,24.75772 34.10299,0 65.41956,-9.28634 90,-24.75772 L 180,0 0,0 z" />
                    </svg>
                    <figcaption>
                        <h2>Crystalline</h2>
                        <p>도쿄도에는 60대 이상의 시니어들이 한 달에 한 번 모여 함께 요리를 하고, 만든 음식을 먹으면서 맛에 대한 감상을 주고받는 모임이 있다.</p>
                        <button>View</button>
                    </figcaption>
                </figure>
            </a>
            <a href="#" class="grid-item" data-path-hover="m 0,0 0,47.7775 c 24.580441,3.12569 55.897012,-8.199417 90,-8.199417 34.10299,0 65.41956,11.325107 90,8.199417 L 180,0 z">
                <figure>
                    <img src="https://images.unsplash.com/photo-1621508958904-2e04d492302e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80" />
                    <svg viewBox="0 0 180 320" preserveAspectRatio="none">
                        <path d="m 0,0 0,171.14385 c 24.580441,15.47138 55.897012,24.75772 90,24.75772 34.10299,0 65.41956,-9.28634 90,-24.75772 L 180,0 0,0 z" />
                    </svg>
                    <figcaption>
                        <h2>Crystalline</h2>
                        <p>도쿄도에는 60대 이상의 시니어들이 한 달에 한 번 모여 함께 요리를 하고, 만든 음식을 먹으면서 맛에 대한 감상을 주고받는 모임이 있다.</p>
                        <button>View</button>
                    </figcaption>
                </figure>
            </a>
            <a href="#" class="grid-item" data-path-hover="m 0,0 0,47.7775 c 24.580441,3.12569 55.897012,-8.199417 90,-8.199417 34.10299,0 65.41956,11.325107 90,8.199417 L 180,0 z">
                <figure>
                    <img src="https://images.unsplash.com/photo-1621508958904-2e04d492302e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80" />
                    <svg viewBox="0 0 180 320" preserveAspectRatio="none">
                        <path d="m 0,0 0,171.14385 c 24.580441,15.47138 55.897012,24.75772 90,24.75772 34.10299,0 65.41956,-9.28634 90,-24.75772 L 180,0 0,0 z" />
                    </svg>
                    <figcaption>
                        <h2>Crystalline</h2>
                        <p>도쿄도에는 60대 이상의 시니어들이 한 달에 한 번 모여 함께 요리를 하고, 만든 음식을 먹으면서 맛에 대한 감상을 주고받는 모임이 있다.</p>
                        <button>View</button>
                    </figcaption>
                </figure>
            </a>
            <a href="#" class="grid-item" data-path-hover="m 0,0 0,47.7775 c 24.580441,3.12569 55.897012,-8.199417 90,-8.199417 34.10299,0 65.41956,11.325107 90,8.199417 L 180,0 z">
                <figure>
                    <img src="ihttps://images.unsplash.com/photo-1621508958904-2e04d492302e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80" />
                    <svg viewBox="0 0 180 320" preserveAspectRatio="none">
                        <path d="m 0,0 0,171.14385 c 24.580441,15.47138 55.897012,24.75772 90,24.75772 34.10299,0 65.41956,-9.28634 90,-24.75772 L 180,0 0,0 z" />
                    </svg>
                    <figcaption>
                        <h2>Crystalline</h2>
                        <p>도쿄도에는 60대 이상의 시니어들이 한 달에 한 번 모여 함께 요리를 하고, 만든 음식을 먹으면서 맛에 대한 감상을 주고받는 모임이 있다.</p>
                        <button>View</button>
                    </figcaption>
                </figure>
            </a>
            <a href="#" class="grid-item" data-path-hover="m 0,0 0,47.7775 c 24.580441,3.12569 55.897012,-8.199417 90,-8.199417 34.10299,0 65.41956,11.325107 90,8.199417 L 180,0 z">
                <figure>
                    <img src="https://images.unsplash.com/photo-1621508958904-2e04d492302e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80" />
                    <svg viewBox="0 0 180 320" preserveAspectRatio="none">
                        <path d="m 0,0 0,171.14385 c 24.580441,15.47138 55.897012,24.75772 90,24.75772 34.10299,0 65.41956,-9.28634 90,-24.75772 L 180,0 0,0 z" />
                    </svg>
                    <figcaption>
                        <h2>Crystalline</h2>
                        <p>도쿄도에는 60대 이상의 시니어들이 한 달에 한 번 모여 함께 요리를 하고, 만든 음식을 먹으면서 맛에 대한 감상을 주고받는 모임이 있다.</p>
                        <button>View</button>
                    </figcaption>
                </figure>
            </a>
            <a href="#" class="grid-item" data-path-hover="m 0,0 0,47.7775 c 24.580441,3.12569 55.897012,-8.199417 90,-8.199417 34.10299,0 65.41956,11.325107 90,8.199417 L 180,0 z">
                <figure>
                    <img src="https://images.unsplash.com/photo-1621508958904-2e04d492302e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80" />
                    <svg viewBox="0 0 180 320" preserveAspectRatio="none">
                        <path d="m 0,0 0,171.14385 c 24.580441,15.47138 55.897012,24.75772 90,24.75772 34.10299,0 65.41956,-9.28634 90,-24.75772 L 180,0 0,0 z" />
                    </svg>
                    <figcaption>
                        <h2>Crystalline</h2>
                        <p>도쿄도에는 60대 이상의 시니어들이 한 달에 한 번 모여 함께 요리를 하고, 만든 음식을 먹으면서 맛에 대한 감상을 주고받는 모임이 있다.</p>
                        <button>View</button>
                    </figcaption>
                </figure>
            </a>
            <a href="#" class="grid-item" data-path-hover="m 0,0 0,47.7775 c 24.580441,3.12569 55.897012,-8.199417 90,-8.199417 34.10299,0 65.41956,11.325107 90,8.199417 L 180,0 z">
                <figure>
                    <img src="https://images.unsplash.com/photo-1621508958904-2e04d492302e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80" />
                    <svg viewBox="0 0 180 320" preserveAspectRatio="none">
                        <path d="m 0,0 0,171.14385 c 24.580441,15.47138 55.897012,24.75772 90,24.75772 34.10299,0 65.41956,-9.28634 90,-24.75772 L 180,0 0,0 z" />
                    </svg>
                    <figcaption>
                        <h2>Crystalline</h2>
                        <p>도쿄도에는 60대 이상의 시니어들이 한 달에 한 번 모여 함께 요리를 하고, 만든 음식을 먹으면서 맛에 대한 감상을 주고받는 모임이 있다.</p>
                        <button>View</button>
                    </figcaption>
                </figure>
            </a>
        </section>

        <script src="snap.svg-min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/4.1.4/imagesloaded.pkgd.min.js" integrity="sha512-S5PZ9GxJZO16tT9r3WJp/Safn31eu8uWrzglMahDT4dsmgqWonRY9grk3j+3tfuPr9WJNsfooOR7Gi7HL5W2jw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.2.2/masonry.pkgd.min.js" integrity="sha512-JRlcvSZAXT8+5SQQAvklXGJuxXTouyq8oIMaYERZQasB8SBDHZaUbeASsJWpk0UUrf89DP3/aefPPrlMR1h1yQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js" integrity="sha512-DkPsH9LzNzZaZjCszwKrooKwgjArJDiEjA5tTgr3YX4E6TYv93ICS8T41yFHJnnSmGpnf0Mvb5NhScYbwvhn2w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

        <script src="script.js"></script>
    </body>
</html>
