<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Carrousel centrado</title>
  <link rel="stylesheet" href="./style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="container">
  <div class="carousel">
    <div id="a">
      <div class="item">A</div>
    </div>
    <div id="b">
      <div class="item">B</div>
    </div>
    <div id="c">
      <div class="item">C</div>
    </div>
    <div id="d">
      <div class="item">D</div>
    </div>
    <div id="e">
      <div class="item">E</div>
    </div>
    <div id="f">
      <div class="item">F</div>
    </div>
  </div>
</div>

<!-- partial -->
  <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script><script  src="./script.js"></script>

</body>
</html>
