<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="footer.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
<div>
  

  <footer class="footer-distributed">
    <div class="footer-center">
      <div class="footer-item">
        <i class="fa fa-map-marker"></i>
        <p><span>충청남도 아산시 <br>배방읍 호서로79번길 20</span>호서대 제2공학관</p>
      </div>

      <div class="footer-item">
        <i class="fa fa-phone"></i>
        <p><span>대표전화</span>041-0000-0000</p>
      </div>
      <div class="footer-item">
        <i class="fas fa-envelope-open-text"></i>
        <p><span>이메일</span>ghdic77@gmail.com</p>
      </div>
      <div class="footer-item">
        <i class="fas fa-fax"></i>
        <p><span>팩스</span>050-0000-0000</p>
      </div>

    </div>
  </footer>
  
  <footer class="footer-distributed">
      <div class="footer-left">

        <h3>Active<span>Senior</span></h3>

        <p class="footer-links">
          <a href="/" class="link-1">Home</a>
          
          <a href="#" >Hobby</a>
        
          <a href="#">Job</a>
        
          <a href="#">Community</a>
          
          <a href="#">info</a>
          
          <a href="#">About</a>
        </p>

        <p class="footer-company-name">Company Name © 2015</p>
      </div>


      <div class="footer-right">

        <p class="footer-company-about">
          <span>About the company</span>
          열정과 의지를 가진 시니어들을 위한 서비스  제공
        </p>

        <div class="footer-icons">

          <a href="#"><i class="fab fa-facebook" ></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
          <a href="https://github.com/ghdic/active_senior"><i class="fab fa-github"></i></a>

        </div>

      </div>

    </footer>
  
</body>
</html>